<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Program.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Program.Properties.Settings>
            <setting name="bg_color" serializeAs="String">
                <value>33, 33, 33</value>
            </setting>
            <setting name="fg_color" serializeAs="String">
                <value>White</value>
            </setting>
        </Program.Properties.Settings>
    </applicationSettings>
</configuration>